<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>김뿌니네</title>
</head>
<body>
<div class="container">
    <!-- Content here -->
    <div th:replace="fragments/menu_main"> </div>
    <div th:replace="fragments/menu_sub"> </div>

    <!-- <hr class="my-3">-->

    <!--<div class="btn-group" role="group" aria-label="Basic example" th:each="yyyy : ${yyyyList}">-->
        <!--<a th:href="@{/householdAccount(year=${yyyy})}">-->
        <!--<button type="button" class="btn btn-primary" th:text="${yyyy}">Left</button>-->
        <!--</a>-->
    <!--</div>-->

    <!--<h1 th:text="${year}+' 내역'">김뿌니네 가계부</h1>-->

    <table class="table" style="margin-top: 10px">
        <thead>
        <tr class="small">
            <th scope="col">날짜</th>
            <th scope="col">금액</th>
            <th scope="col">분류</th>
            <th scope="col">가맹점</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="item" type="org.ysnam.householdAccounts.core.model.Item"*/-->
        <tr class="small" th:each="item : ${householdInfo.getItemList()}">
            <th class="small" scope="row" th:text="${item.getDate()}"></th>
            <th scope="row" th:text="${item.getAmount()}"></th>
            <th scope="row" th:text="${item.getMerchantType()}"></th>
            <th class="small" scope="row" th:text="${item.getMerchant()}"></th>
        </tr>
        </tbody>
    </table>

    <hr class="my-4">

    <div th:replace="fragments/pagination"></div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>